%h2
  How many different ways can we publish a story?
%h3
  Using the API - limited to one line stories
%p
  One line API publish for
  = link_to "Bubbles", :action =>'one_line_api', :id => "bubbles"
  %br
  One line API publish for
  = link_to "Zack", :action =>'one_line_api', :id => "zack"
%h3
  Using javascript to build a form
%p
  The comment is built using javascript
  %br
  %i
    = @user.first_name
    wants to use the force.
  %br
  = text_field_tag "js_comment", "Go see this movie!", :id => "js_comment"
  %button{:onclick => "open_feed_form()"} Submit
%h3
  Using an iFrame from Facebook
%p
  %fb:serverfbml{ :style => "width: 755px;" }
    %script{:type => "text/fbml"}
      %fb:fbml
        %h1
          Post a comment to your wall!
        %form{:id => "my_form", :fbtype => "feedStory", :action => url_for(:action => "feed_action", :only_path => false)}
          %label{:name => "comment"}
            Comment
          = text_field_tag "comment"
          %input{:type => "submit", :label => "submit it!"}

= javascript_tag "window.story_template_id = '#{ZackPublisher.find_bundle_id('story_action')}';"
%script
  function open_feed_form() {
  var video_data = {"video_src": "http://www.youtube.com/v/OssgMY_mkMc&hl=en&fs=1", "preview_img": "http://zacknmiri.com/images/f1.znm.png"};
  var data = {"video": video_data, "role": "use the force", "comment": document.getElementById("js_comment").value};
  FB.Connect.showFeedDialog(window.story_template_id, data, null, null, null, FB.RequireConnect.promptConnect);
  }