
= javascript_tag "window.api_key = '#{Facebooker.api_key}';"
= javascript_tag "window.xd_receiver_location = '#{ENV['XD_RECEIVER_LOCATION']}';"
= javascript_tag "window.facebook_authenticate_location = '#{ENV['FACEBOOK_AUTHENTICATE_LOCATION']}';"
= javascript_tag "window.facebook_signed_in_url = '#{ENV['FACEBOOK_SIGNED_IN_URL']}';"
