<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %title Star in a porno with Zack and Miri
    = stylesheet_link_tag "zack"
    = javascript_include_tag "zack"
    = javascript_include_tag "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"
    
  %body
    %h2
      - if @user
        = image_tag @user.pic, :width => 50
      %span{:style => "font-size:1.5em"}
        Zack N Miri -
      share your interest using Facebook Connect
    .content_seperator
    .main_content
      .widget_content
        = @content_for_layout

    .content_seperator
    = render :partial => 'roles'
    .content_seperator
    .footer
      = link_to "Rich Media by Spongecell", "http://spongecell.com"
      &#183;
      = link_to "Facebook and Rails on Spongetech", "http://spongetech.wordpress.com"
      
    = javascript_tag "window.api_key = '#{Facebooker.api_key}';"
    = javascript_include_tag "facebook_require"